{% extends 'admin/base.html.twig' %}

{% block title %}Edit Bike{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-4">
                <h5>Add new company</h5>
                <form action="" method="post" enctype="multipart/form-data">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" value="{{ bike.name }}" required>
                    <label>Price</label>
                    <input type="number" class="form-control" name="price" value="{{ bike.price }}" required>
                    <label>Pic</label>
                    <input type="file" class="form-control" name="doc">
                    <label>Company</label>
                    <select name="company" class="form-control">
                        {% for i in company %}
                            <option value="{{ i.id }}" {% if bike.company.id == i.id %} selected {% endif %}>{{ i.name }}</option>
                        {% endfor %}
                    </select>
                    <br>
                    <input type="submit" value="Add" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
