{% extends 'admin/base.html.twig' %}

{% block title %}Company List{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <table class="table table-striped">
                    <tr>
                        <th>#</th>
                        <th>Name</th>
                        <th>Pic</th>
                        <th>Action</th>
                    </tr>
                    {% for i in company %}
                        <tr>
                            <td>{{ loop.index }}</td>
                            <td>{{ i.name }}</td>
                            <td><img src="{{ asset(i.pic) }}" style="width: 50px;height: 50px"></td>
                            <td>
                                <a href="#"><input type="button" class="btn btn-primary" value="Bikes"></a>
                            </td>
                        </tr>
                    {% endfor %}
                </table>
            </div>
            <div class="col-md-4 offset-2">
                <h5>Add new company</h5>
                <form action="" method="post" enctype="multipart/form-data">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" required>
                    <label>Pic</label>
                    <input type="file" class="form-control" name="doc" required>
                    <br>
                    <input type="submit" value="Add" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
