{% extends 'admin/base.html.twig' %}

{% block title %}Edit Company{% endblock %}

{% block body %}
    <div class="container">
        <div class="row">
            <div class="col-md-4 offset-4">
                <h5>Edit company</h5>
                <form action="" method="post" enctype="multipart/form-data">
                    <label>Name</label>
                    <input type="text" class="form-control" name="name" value="{{ company.name }}" required>
                    <label>Pic</label>
                    <input type="file" class="form-control" name="doc">
                    <br>
                    <input type="submit" value="Update" class="btn btn-success">
                </form>
            </div>
        </div>
    </div>
{% endblock %}
