{% extends 'base.html.twig' %}

{% block title %}Home Page{% endblock %}

{% block body %}

    <div class="container-fluid">
        <h3>Navbar With Dropdown</h3>
        <p>This example adds a dropdown menu in the navbar.</p>
    </div>
{% endblock %}
